.nuvem{
    position: absolute;
    width: 250px;
    top: 30px;
    right: -250px;
}

.pilar{
    position: absolute;
    right: -80px;
    width: 80px;
    bottom: 98px;
}

.teste{
    position: absolute;
    background-image: url("socrates.png");
    left: 66px;
    bottom: 105px;
    width: 45px;
    height: 80px;
    
    animation: run 400ms infinite steps(2);
}

/*.mario{
    border: 3px solid red;
    position: absolute;
    left: 30px;
    bottom: 120px;
    width: 109px;
    height: 65px;
    animation: run 6s infinite;
}*/

.bau{
    width: 40px;
    position: absolute;
    right: -40px;
    bottom: 113px;
}

.chao, .chao1, .chao2{
    position: absolute;
    bottom: 75px;
    right: 100px;
}

/*border: 1px solid red;*/